.register {
    .row {
        input{
            background-color:transparent;
        }
        input[placeholder="email"] {
            padding-left: 15px;
        }
    }
}

@media (max-width:768px) {
    .register {
        .row {
            gap: 10px;
        }
    }
}