@{
    Layout = null;
}
@model RegisterViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MachineBazaar - Auction of cool modern cars, trucks and SUV's</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/assets/css/index.css">
</head>
<body>
    <section id="account" class="register">
        <div class="login-form">
            <div class="content">
                <div class="title">Sign Up</div>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="input-field">
                                <input class="form-control" type="text" asp-for="UserName" placeholder="username">
                                <i class="bi bi-person"></i>
                            </div>
                            <span class="text-danger" asp-validation-for="UserName"></span>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="input-field">
                                <input class="form-control" type="email" asp-for="Email" placeholder="email">
                                <i class="bi bi-envelope"></i>
                            </div>
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="input-field">
                                <input class="form-control" type="password" asp-for="Password" placeholder="password">
                                <i class="bi bi-lock"></i>
                            </div>
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="input-field">
                                <input class="form-control" type="password" asp-for="RepeatPassword" placeholder="repeat password">
                                <i class="bi bi-lock"></i>
                            </div>
                            <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="input-field">
                                <input class="form-control" type="number" asp-for="PhoneNumber" placeholder="phone number">
                                <i class="bi bi-phone"></i>
                            </div>
                            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                        </div>
                    </div>
                    <div class="loginBtn">
                        <button type="submit">Sign Up</button>
                    </div>
                </form>
                <div class="sign-up">Already have an account? <a asp-controller="account" asp-action="login">Sign in!</a></div>
            </div>
        </div>
    </section>
    <script src="~/assets/JS/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.4/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>